# Base API URL
BASE_API_URL=https://your-api-url.com

# WebSocket URL
BASE_WS_URL=wss://your-websocket-url.com

SENTRY_DSN=https://your-sentry-dsn@sentry.io/project-id

PRIVATE_KEY=your-private-key-here

BASE_CDN_URL=https://your-cdn-url.com
CANDLESTICK_URL=https://your-candle/
