# BASE_API_URL=http://192.168.4.28:8000
BASE_API_URL=https://t-api.route.aigun.ai
# BASE_WS_URL=ws://192.168.4.28:8000
BASE_WS_URL=wss://t-api.route.aigun.ai
SENTRY_DSN=https://b27812d91398ff9d73d67@o4506720.ingest.us.sentry.io/450868504
PRIVATE_KEY=d9596dbf26541c3dc2dc701d79afca18754f8eb4cbaf6a7794d4ee024eba4039
CANDLESTICK_URL=https://candle.aigun.ai/
BASE_CDN_URL=https://cdn.route.aigun.ai